@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: #191c29;
  padding: 3rem;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  transition: color 1s;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card .head {
    text-align: center;
}

.head h1 {
  font-size: 4vmin;
}

.card h4 {
    font-size: 3vmin;
}

.value {
    font-size: 2vmin;
    padding-left: 6px;
}

.infos-main {
  padding-top: 20px;
}

.infos {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.Vname, .Vgender, .Vnationality, .Vaddress {
    text-transform: capitalize;
} 
